.header
  %h1 Substitute-Bot
  %h2 VIM-style search & replacement for Reddit comments

.content
  %p Substitute-Bot is a combination of a bot for Reddit that provides VIM style search + replace functionality for comments and also a front end web component (what you're reading right now). Written in Ruby utilizing the gems redd + sucker_punch (for the backend bot) & sinatra (for this web frontend). Redis is utilized very lightly for keeping a running list of posted comments.

  %p Syntax is VIM-like - <code>s/SEARCH/REPLACE</code> or <code>s#SEARCH#REPLACE</code>. Post a reply to another comment with this syntax and this bot will process your request & post your requested replacement.

  .pure-g.center-text#link-icon-row
    .pure-u-1-3
      %a{ href: bot_config[:source_url] }
        %i.fab.fa-5x.fa-github
    .pure-u-1-3
      %a{ href: "https://www.reddit.com/user/#{reddit_config[:bot_username]}" }
        %i.fab.fa-5x.fa-reddit
    .pure-u-1-3
      %a{ href: "https://www.reddit.com/message/compose/?to=#{reddit_config[:bot_username]}" }
        %i.far.fa-5x.fa-envelope

  .replies
    %h2 Recent replies from bot
    - replies.each do |r|
      .pure-g.reply-row
        .pure-u-4-5= r.body_html
        .pure-u-1-5.reply-details
          %p= r.created_at.strftime('%B %d, %Y')
          %p
            %span Requested by
            %a{ href: "https://www.reddit.com/u/#{r.parent.author.name}" }= "/u/#{r.parent.author.name}"
          %a{ href: "https://www.reddit.com/comments/#{r.link.id}/placeholder/#{r.id}" } Comment link
